.my-about {
    padding-top: 50px;
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.my-about h1 {
    margin-right: auto;
    margin-left: auto;
    width: 100px;
    text-align: center;
    border-bottom: 2px solid #f78009;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-img img {
    max-width: 450px;
}

.about-profil {
    max-width: 500px;
}

.about-profil p span {
    color: #f78009;
}

@media screen and (max-width: 989px) {
    .about-container {
        text-align: center;
        justify-content: space-around;
        padding: 10px;
    }

    .about-img img {
        width: 90%;
        }
}