.work {
    padding-top: 50px;
    max-width: 1020px;
    margin-right: auto;
    margin-left: auto;
}

.work h1 {
    margin-right: auto;
    margin-left: auto;
    width: 80px;
    border-bottom: 2px solid #f78009;
    text-align: center;
}
.container-work {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    background-color: rgb(44, 44, 44);
}

.card img {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 150px;
    object-fit: cover;
    object-position: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(14, 14, 14, 0.2);
}

.container {
    padding: 2px 16px;
}

@media screen and (max-width: 425px) {
    .card {
        width: 80%;
    }
}