@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@import 'tailwindcss';

@theme {
  --color-primary: #ff7337;
  --color-secondary: #000000;
  --color-tertiary: #ffffff;
  --color-neutral: #1a1a1a;

  --font-headline: 'Anton', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Space Grotesk', sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.label-text {
  font-family: 'Space Grotesk', sans-serif;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
